.contact-container{
    max-width: 650px;
    margin: 60px auto;
    padding: 0 20px;
}

.contact-card{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 50px 40px;
    border: 1px solid #E2E8F0;
    box-shadow: 0 10px 30px #0000001A;
    text-align:center;
}

.section-badge{
    display:inline-block;
    background-color: #FBEFEA;
    color: #C86D51;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    font-weight: 700px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 6px 12px;
    border-radius: 6px;
    margin-bottom: 12px;
}

