header{
    background-color: red;
}
header h1{
    color: yellow;
    font-size: 86px;
}

@media screen and (max-width: 992px){
    header h1{
        font-size: 50px;
    }
}   

@media screen and (max-width: 600px){
    header h1{
        font-size: 30px;
    }
}   